language: rust

rust:
  - nightly
  - beta
  - stable

before_script:
  - |
    pip install 'travis-cargo<0.2' --user &&
    export PATH=$HOME/.local/bin:$PATH

script:
  - |
    rustc --version
    cargo --version
    travis-cargo build &&
    travis-cargo test &&
    travis-cargo doc

after_success:
  - travis-cargo doc-upload

env:
  global:
  - secure: gy66Uqsv6asMqeeRA2meJlJSa82xzV/IipXalhw3gGCJRYMEUSvJLVK1eJoUC/HW5iQzg8dudjqZ6qqsNoyqr81sbG6MJHcf5clPSRF7sCqcpfqSxRtYcLCTH43HMdbTGUYJhNBEEAgVf/BuXLdD7ync15+sUCDU8qUZmaMY9kQ=
  - TRAVIS_CARGO_NIGHTLY_FEATURE=""
