[package]
name = "carboxyl"
version = "0.0.5"
authors = ["Eduard Bopp <eduard.bopp@aepsil0n.de>"]
description = "Library for functional reactive programming"
documentation = "http://www.rust-ci.org/aepsil0n/carboxyl/doc/carboxyl/"
homepage = "https://github.com/aepsil0n/carboxyl"
repository = "https://github.com/aepsil0n/carboxyl"
readme = "README.md"
keywords = ["frp", "reactive", "event", "concurrency"]
license = "LGPL-3.0+"

[dev-dependencies]
rand = "*"
